/* Navbar */
.navbar-brand{
    margin-left: 15%;
}
#navbar-buttons{
    margin-right: 15%;
}
.navigation-links{
    margin-left: 1.5rem;
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.navigation-links:hover{
    color: rgb(241, 241, 241);
}
.navigation-links:focus{
    color: white;
}